@{
    ViewBag.Title = "Entrar";
}

<div class="container">

    @using (Html.BeginForm("Autenticar", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        <h2 class="form-signin-heading">EasyMarket</h2>
        <label for="inputLogin" class="sr-only">Login</label>
        <input type="text" id="inputLogin" class="form-control" placeholder="Login" name="login" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" name="senha" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    }

</div><!-- /container -->