@model EasyMarket.Models.Usuario

<div class="panel panel-info">
    <div class="panel-heading">Cadastro de Usuário</div>
    <p></p>
    @using (Html.BeginForm("Create", "Usuario", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label for="ILogin" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Login" name="Login" id="ILogin">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="ISenha" class="col-sm-2 control-label">Senha</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Senha" name="Senha" id="ISenha">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="INome" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Nome" name="Nome" id="INome">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="ICpf" class="col-sm-2 control-label">Cpf</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Cpf" name="Cpf" id="ICpf">
            </div>
        </div>
            <p></p>
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="@Url.Action("Index", "Usuario")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Voltar </a>
                        <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar </button>
                        <p></p>
                    </div>
                </div>
    }
</div>
