body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.menu-carrinho {
    margin: 0 auto;
    width: 600px;
    height: 160px;
    border: solid 1px #999999;
    border-radius: 20px;
    position: relative;
}

.menu-carrinho .menu-inside {
    float: left;
    width: 66%;
    margin-left: 5%;
    margin-top: 3px;
}

.menu-carrinho .menu-inside a {
    float: left;
    text-align: center;
    font-size: 40px;
    margin-right: 15px;
    margin-top: 5px;
}

.menu-carrinho .menu-inside a.search-icon {
    font-size: 20px;
    color: #fff;
}

.menu-carrinho .menu-inside a.search-icon span {
    background: #428bca;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    border-radius: 20px;
    margin-top: 5px;
}

.menu-carrinho .menu-inside a.search-icon span:hover,
.menu-carrinho .menu-inside a.search-icon span:focus,
.menu-carrinho .menu-inside a.search-icon span:active {
    background: #2a6496;
}
    
.menu-carrinho .screen {
    float: left;
    width: 70%;
    height: 45%;
    margin-top: 20px;
    margin-left: 5%;
    border: solid 1px #999;
}

.menu-carrinho .menu-right {
    float: right;
    width: 22%;
    margin-top: 5px;
}

.menu-carrinho .menu-right img {
    float: left;
    width: 60%;
    margin-left: 15px;
    margin-top: 5px;
}

.menu-carrinho .menu-right a {
    float: left;
    width: 80%;
    margin-left: 6px;
    margin-top: 10px;
}

.menu-carrinho .codigo-de-barras {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFFFFF;
    border-radius: 20px;
    display: none;
}

.menu-carrinho .codigo-de-barras input {
    opacity: 0;
    width: 0;
    height: 0;
    border: 0;
    padding: 0;
}

.menu-carrinho .codigo-de-barras img {
    width: 200px;
    margin-left: calc(50% - 100px);
    margin-top: 20px;
}

.menu-carrinho .codigo-de-barras span {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
}

.menu-carrinho .screen .home {
    float: left;
    width: 100%;
    height: 100%;
    display: none;
}

.menu-carrinho .screen .home div {
    float: left;
    width: 50%;
    height: 100%;
}

.menu-carrinho .screen .home div span {
    float: left;
    width: 100%;
    padding-left: 10%;
}

.menu-carrinho .screen .home div span:first-child {
    padding: 5%;
    padding-bottom: 0;
}

.menu-carrinho .screen .home div span:last-child {
    font-size: 25px;
}

.menu-carrinho .screen .produto {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    display: none;
}

.menu-carrinho .screen .produto span:first-child {
    float: left;
    width: 100%;
    padding: 2% 2.5%;
    font-size: 14px;
}

.menu-carrinho .screen .produto span:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2.5%;
    font-size: 20px;
}

.menu-carrinho .screen .mensagem {
    float: left;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-carrinho .screen .mensagem span {
    max-width: 90%;
    text-align: center;
    color: #ff0000;
    font-weight: bold;
}