@{
    ViewBag.Title = "CarrinhoCompras";
}

<div class="menu-carrinho">
    <div class="screen">
    
    </div>
    <div class="menu-right">
        <img src="/Content/carrinho.png" />
        <a href="#" class="btn btn-success">INICIAR</a>
    </div>
    <div class="menu-inside">
        <a href="#" id="add-produto"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
        <a href="#" id="remove-produto"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></a>
        <a href="#" class="search-icon" id="busca-produto"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
    </div>
    <div class="codigo-de-barras">
        <input type="text" name="codigo" id="codigo-de-barras" />
        <img src="/Content/codigo-de-barras.jpg" />
        <span>Passe o código de barras na leitora</span>
    </div>
</div>