@{
    ViewBag.Title = "CarrinhoCompras";
}

<div class="menu-carrinho">
    <div class="screen">
    
    </div>
    <div class="menu-right">
        <img src="/Content/carrinho.png" />
        <a href="#" class="btn btn-success">INICIAR</a>
    </div>
    <div class="menu-inside">
        <a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
        <a href="#"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></a>
        <a href="#" class="search-icon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
    </div>
</div>