@model EasyMarket.Models.Produto

<div class="panel panel-info">
    <div class="panel-heading">Cadastro do Produto</div>
    <p></p>
    @using (Html.BeginForm("Create", "Produto", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
           @Html.ValidationSummary(true)

   <div class="form-group">
            <label for="INome" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Nome" name="Nome" id="INome" required>
            </div>
        </div>
            <p></p>                    
                    <div class="form-group">
                        <label for="IDescricao" class="col-sm-2 control-label">Descricao</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Descricao" name="Descricao" id="IDescricao">
                        </div>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label for="IPrecoCusto" class="col-sm-2 control-label">PrecoCusto</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="PrecoCusto" name="PrecoCusto" id="IPrecoCusto" required>
                        </div>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label for="IFoto" class="col-sm-2 control-label">Foto</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Foto" name="Foto" id="IFoto">
                        </div>
                    </div>
                    <p></p>

             <div class="form-group">
                 <label for="ISupermercado" class="col-sm-2 control-label"> Supermercado </label>
                    <div class="col-sm-9">
                 @Html.DropDownListFor(model => model.Supermercado.Id,
                ((IEnumerable<EasyMarket.Models.Supermercado>)ViewBag.supermercados).
                Select(i => new SelectListItem
                {
                    Text = i.Nome,
                    Value = i.Id.ToString(),
                    Selected = (Model != null) && (i.Id == Model.Supermercado.Id)
                }), "Escolha uma opção...", new { @class = "form-control", required = "required" , name = "SupermercadoId"}
                )        
            </div>    
           </div>                       
                 <p></p>  
                 <div class="form-group">
                     <label for="ICod" class="col-sm-2 control-label">Cod</label>
                     <div class="col-sm-9">
                         <input type="text" class="form-control" placeholder="Passe o Leitor no Codigo de Barra" name="Cod" id="ICod" required>
                     </div>
                 </div>
                 <p></p>                                    
                 <div class="row">
                     <div class="col-md-offset-2 col-md-10">
                         <a href="@Url.Action("Index", "Produto")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Voltar </a>
                         <button type="submit" class="btn btn-success btn-sm" style="display:none"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>                       
                         <p></p>
                     </div>
                 </div> 
    }
 </div>
