
@model IEnumerable<EasyMarket.Models.Supermercado>

<div class="panel panel-default">
    <div class="panel-heading">Lista de produtos</div>
    <div class="btn-group" role="group" aria-label="...">            
        <button type="button" class="btn btn-info">  @Html.ActionLink(" ", "Create", new { id = 0 })<span class="glyphicon glyphicon-plus" ></span> &nbsp; Novo
        </button>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selecione o Supermercado
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">

                <li>
                    @Html.ActionLink("Todos os Supermecados", "Index", new { id = 0 })
                </li>

                @foreach (var item in Model)
                {                          
                    <li>
                        @Html.ActionLink( item.Nome , "Index", new { id = item.Id })                       
                    </li>
                }

            </ul>
        </div>
    </div>

   


