
@model IEnumerable<EasyMarket.Models.Supermercado>

<div class="panel panel-info">
    <div class="panel-heading">Lista de produtos</div>

   
    <div class="btn-group" role="group" aria-label="...">       
       
          <div class="btn-group" role="group">
              
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selecione o Supermercado
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">

                <li>
                    @Html.ActionLink("Todos os Supermecados", "Index", new { id = 0 })
                </li>

                @foreach (var item in Model)
                {                          
                    <li>
                        @Html.ActionLink( item.Nome , "Index", new { id = item.Id })                       
                    </li>
                }
                <li role="separator" class="divider"></li>
                <li>
                    <a href="@Url.Action("Create", "Supermercado")"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp; Cadastrar </a>
                </li>
            </ul>
        </div>
    </div>
</div>
   


