
@model IEnumerable<EasyMarket.Models.Supermercado>

<div class="panel panel-info">
    <div class="panel-heading">Lista de produtos</div>

   
    <div class="btn-group" role="group" aria-label="...">       
       
          <div class="btn-group" role="group">
              
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selecione o Supermercado
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var item in Model)
                {                          
                    <li>
                        @Html.ActionLink( item.Nome , "Busca", new { id = item.Id })                       
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
   


