@model EasyMarket.Models.Cliente

<div class="panel panel-info">
    <div class="panel-heading">Cadastro de Cliente</div>
    <p></p>
    @using (Html.BeginForm("Create", "Cliente", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label for="INome" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Nome" name="Nome" id="INome">
            </div>
        </div>
        <p></p>
            <div class="form-group">
                <label for="ICpf" class="col-sm-2 control-label">Cpf</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Cpf" name="Cpf" id="ICpf" required>
                </div>
            </div>
                <p></p>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="@Url.Action("Index", "Cliente")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Voltar </a>
                            <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar </button>
                            <p></p>
                        </div>
                    </div>
    }
</div>
